/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.mainNav {
  height: 130px;
  .headLogo {
    width: 200px;
		position: absolute;
		top: 5px;
		left: 5px;
  }
}


.hProjF {
  .hProjD#projFlex {width: 31.5%;};
}

.logoLine1{opacity: 1;}
.logoLine2{opacity:0.5;}
.logoLine3{opacity:0.2;}
.Menu {
    height: 130px;
    width: 100%;
    position: fixed;
    background: none;
    z-index: 998;
    top: 0;
    right: 0;
    width: 600px;
    opacity:1;
    @include transition(.5s);
    .linkWrap {
    .mainLinks {
      @include space-wrap();
      position: absolute;
      width: 100%;
      top: -2px;
      div {padding: 5px 10px;}
      #navCont {
        border: 2px solid $red;
        &:hover {
          background-color: $darkGrey;
          @include transition(.3s);
        }
      }
    }
    .empLinks {
      position: absolute;
      height: 40px;
      top: -63px;
      right: 0;
      width: 100%;
      @include space-wrap();
      #socI {margin: -5px 0px 0px 0px;}
      div {margin-top: -5px;}
    }
}}

.nav-up {top: -41px;}
.logo-up {
  @include transition(.3s);
  width: 180px !important;
  position: absolute !important;
  top: 30px !important;
  left: -25px !important;

}

.opacity-up {opacity: 0 !important;}
.mobile-nav-button {display: none;}


	.homeWrapper {
	.homeTeam {
		.hTeamF {
			.hTeamD#flex2 {
				margin: 30px 0px -32px 0px;
		}
	}
}}

/************************************************************************************
*************************************************************************************

              REJECT WRAPPERS

************************************************************************************
************************************************************************************/
.capWrapper, .careerWrapper, .projectsWrapper, .historyWrapper, .contactWrapper, .empWrapper, .jobWrapper {
  @include wrapper();
}
.historyWrapper, .contactWrapper,   {
  padding: 140px 20px 20px 20px;
}



/************************************************************************************
*************************************************************************************

							      	          PROJECTS PAGE

************************************************************************************
************************************************************************************/
.projectMenu {
  top: 130px;
}


.projectMenu-up {
	top: 89px !important;
}

.secHeader {
		.headF {
			@include space-wrap();
			@include justify-content(flex-start);
      height:auto;
      .bLine {display: none;}
			.headD {
    		width: fit-content;
				h1 {
					text-align: right;
					border-right: 2px solid $lightGrey;
					padding-right: 30px;}
				h2 {
					padding-left: 30px;
					margin-top: 12px;
				}
			}}}
      .projectsF {
            .projectsD {
              width: 31.5%;
          }}


/************************************************************************************
*************************************************************************************

							                       FOOTER

************************************************************************************
************************************************************************************/
.greyMiddle {
	width: 100%;
    background-color: #282828;
    height: 50px;
    margin-top: -140px;
}


.footerWrap {
.footer {
	.footerF {
		@include flexbox();
		@include justify-content(center);
    .footerD {width: 320px;}
  }}}
