/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/


.subheadCopy {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 50px;
}


/************************************************************************************
*************************************************************************************

							      	          HISTORY PAGE

************************************************************************************
************************************************************************************/


.tFlex {
	@include space-wrap();
	.tDiv {
		width: 48%;
		img {
		width: 100%;
		height: auto;}
	}
}


/************************************************************************************
*************************************************************************************

							      	          CONTACT PAGE

************************************************************************************
************************************************************************************/

@media only screen and (min-width: 530px) {
	.team-slide {
	.slick-current {
	.teamBio {
		margin: 0vw 0vw 0vw -43.5vw;
	}}}


}


/************************************************************************************
*************************************************************************************

										      	       EMPLOYEES PAGE

************************************************************************************
************************************************************************************/

.empWrapper {
.fileDownloads {
	@include space-wrap();
	.dFile {
		width: 48%;
	}
}}

/************************************************************************************
*************************************************************************************

							      	          PROJECTS PAGE

************************************************************************************
************************************************************************************/




	.projectsF {
				@include space-between();
				.single-item {
					width: 48%;
			}}
