/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

/************************************************************************************
*************************************************************************************

							      	HOME PAGE

************************************************************************************
************************************************************************************/


.greyMiddle {
	width: 100%;
    background-color: #282828;
    height: 40px;
    margin-top: -125px;
}



  .hProjF {
    .hProjD#flex1 { width: 48%;}
    .hProjD#flex2 {width: 31.5%;}
		.hProjD#projFlex {width: 48%;};
  }

.homeWrapper {
.homeTeam {
    .hTeamF {
      .hTeamD#flex1 {
        width: 31.5%;
        }
      .hTeamD#flex2 {
        width: 66.5%;
    }}}}

		/************************************************************************************
		*************************************************************************************

																		PROJECTS PAGE

		************************************************************************************
		************************************************************************************/

		.projectsWrapper {
		  margin-top: 60px !important;
		  .secHeader {
				width: 100%;
				margin: 0;
		    .projectCopy {
		      -moz-column-count: 2;
		      -moz-column-gap: 20px;
		      -webkit-column-count: 2;
		      -webkit-column-gap: 20px;
		      column-count: 2;
		      column-gap: 50px;
		      padding: 50px 0px 50px 0px;
		    }
			}
		}



		/************************************************************************************
		*************************************************************************************

																		CONTACT PAGE

		************************************************************************************
		************************************************************************************/

		.contactInfo {
			padding: 50px 20px 0px 20px;
			.contactF {
				@include space-wrap();
				width: 100%;
				margin: auto;
				max-width: 1000px;
				.contactD {
					width: 48%;
				}
			}
		}

		.contactImgdesk {
			display: block;
			width: 100%;
			margin: -100px 0px -10px 0px;
			background-color: $offWhite;
		}
		.contactImgmobile {
			display:none;
		}
		/************************************************************************************
		*************************************************************************************

												      	       EMPLOYEES PAGE

		************************************************************************************
		************************************************************************************/

		.empWrapper {
		.fileDownloads {
			.dFile {
				width: 30%;
			}
		}}

		/************************************************************************************
		*************************************************************************************

																		CAREERS PAGE

		************************************************************************************
		************************************************************************************/
	.careerWrapper {
		.careerF {
		@include space-wrap();
			.careerD {
				width: 47%;
			}
		}	}

.jobWrapper {
	.jobDesc {
		@include space-between();
		div {
			width: 48%;
			#resp {margin-top: 0px;}
		}
	}
}


		/************************************************************************************
		*************************************************************************************

																		TIMELINE

		************************************************************************************
		************************************************************************************/
		.historyTimeline:before {
			content: '';
			position: absolute;
			top: 0;
			 left: 50%;
		   margin-left: -1px;
		   width: 2px;
    }

		.timeline-block {
		   width: calc(50% + 5px);
		   display: -webkit-box;
		   display: -ms-flexbox;
		   display: flex;
		   -webkit-box-pack: justify;
		   -ms-flex-pack: justify;
		   justify-content: space-between;
		   clear: both;
		}

		.timeline-block:nth-child(even) {
			float: left;
		 direction: rtl
		}


		.timeline-block:nth-child(odd) {
		    float: right;
		}



		/************************************************************************************
		*************************************************************************************

									      	          CAPABILITIES PAGE

		************************************************************************************
		************************************************************************************/
		.capWrapper {
		.accF {
		@include space-wrap();
			.accD1 {
				width: 48%;
			}
			.accD2 {
				width: 48%;
				padding-top: 66px;
			}
		}	}
