/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheetF
and will be used across all viewports.

******************************************************************/


/*********************
GENERAL STYLES
*********************/
a {outline: 0 !important;}
a:visited {outline: 0 !important;}


body {
	font-size: 100%;
	line-height: normal;
	color: $textColor;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	overflow-x: hidden !important;
	min-width: 320px;
	background-color: $offWhite;
	font-family: 'Source Sans Pro', sans-serif;
}


* {
	/* Calculation */
	--diff: calc(var(--max-size) - var(--min-size));
	--responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420)));
	/* Ranges from 421px to 1199px */
}
p {
	--max-size: 17;
	--min-size: 15;
	font-size: var(--responsive);
	margin: 0px;
	font-weight: 400;
	color: $textColor;
}
h1 {
	margin: 0px;
	font-weight: 800;
	letter-spacing: 1px;
	color: $red;
	--max-size: 40;
	--min-size: 35;
	font-size: var(--responsive);
	font-family: 'Montserrat', sans-serif;
}
h2 {
	margin: 0px;
	font-weight: 800;
	color: $red;
	--max-size: 22;
	--min-size: 19;
	color: $darkGrey;
	font-size: var(--responsive);
	font-family: 'Montserrat', sans-serif;
}
h3 {
	font-weight: 600;
	color: $red;
	margin: 0px;
	--max-size: 23;
	--min-size: 18;
	font-size: var(--responsive);
	font-family: 'Montserrat', sans-serif;
}
h4 {
	font-weight: 600;
	margin: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $darkGrey;
	--max-size: 13;
	--min-size: 11;
	font-size: var(--responsive);
	font-family: 'Montserrat', sans-serif;
}

h5 {
	font-weight: 600;
	margin: 0px;
	color: $red;
	--max-size: 18;
	--min-size: 16;
	font-size: var(--responsive);
	font-family: 'Montserrat', sans-serif;
}


/************************************************************************************
*************************************************************************************

							      	HOME PAGE

************************************************************************************
************************************************************************************/



	.homeBanner {
			position: relative;
			width: 100%;
			margin-top: 75px;
		.backImg {
			@include backimg();
			height: 600px;
			position: relative;
			&:before {
		 	 content: '';
			 position: absolute;
			 top: 0;
			 right: 0;
			 bottom: 0;
			 left: 0;
			 background-image: linear-gradient(to top right,rgba(0,0,0,1),rgba(0,0,0,0));
			 opacity: 0;
 	 		}
		}
		h1 {
			color: white;
			border-bottom: 10px solid $red;
			position: absolute;
			bottom: 8%;
			text-shadow: 2px 2px 8px rgba(0,0,0, .4);
			--max-size: 60;
			width: auto;
			left: 5%;
			z-index: 800;
			padding-bottom: 20px;
		}
	}

	.homeCall {

		width: 100%;
		background-color: $lightGrey;
		position: relative;
		.callF {
			@include mobileWrapper();
			@include space-wrap();
			.callD {
				min-width: $flexMin;
				width: 48%;
				h3 {margin-bottom: 20px;}
				p {}
			}}}


	.homeWrapper {
		@include mobileWrapper();
	.homeProj {
		padding: $skinnyPadding;
		}
	.homeTeam {
		padding: $skinnyPadding;
		.hTeamF {
			@include space-wrap();
			.hTeamD#flex1 {
				width: 98%;
				min-width: $flexMin;
				background-color: $lightGrey;
				padding: 30px 40px;
				height: fit-content;
				.fancyButton {
					border-top: 2px solid $offWhite !important;
					border-bottom: 2px solid $offWhite !important;
				}
				}
			.hTeamD#flex2 {
				width: 98%;
				min-width: $flexMin;
				margin: 30px 0px -42px 0px;
				img {
					width: 100%;
					height: auto;}
				}
		}
	}
	}


.slick-dotted.slick-slider {
	margin-bottom: 20px;
}
	.hProjF {
		@include space-wrap();
		.hProjD {
			margin-bottom: 40px;
			.slick-next {right: 15px;}
			.slick-prev {left: 15px; z-index: 100;}
			.slick-dots {bottom: 10px;}
			h3 {margin-top: 0px;}
		}
		.hProjD#flex1 { width: 98%;}
		.hProjD#flex2 {width: 98%;}
		.hProjD#projFlex {width: 98%;};
	}

	.fancyButton {
		margin: 25px 0px 0px 0px;
		display: block;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration: none;
		width: 100%;
		padding: 10px 0px;
		border-top: 2px solid $lightGrey;
		border-bottom: 2px solid $lightGrey;
		p {
			text-align: center;
			color: #939596;
			font-weight:800;
			--max-size: 15 !important;
			}
	}

.greyMiddle {
	width: 100%;
    background-color: #282828;
    height: 20px;
    margin-top: -105px;
}


.subheadCopy {
	padding: 0px 0px 50px 0px;
}
/************************************************************************************
*************************************************************************************

							      	          PROJECTS PAGE

************************************************************************************
************************************************************************************/
.projectMenu {
	height: auto;
	z-index: 800;
	width: 100%;
	box-shadow: -1px 3px 3px rgba(0,0,0,.1);
	position: fixed;
	top: 75px;
	@include transition(.3s);
	background-color: $lightGrey;
	.projectLinks {
		@include space-wrap;
		padding: 10px;
		div {
		width: auto;
		padding: 5px;
		a {
			text-decoration: none;
			h4 {
			color: $darkGrey;
			&:hover {
				color: $red;
				@include transition(.3s);
			}}
		}
	}
	}
}

.projectMenu-up {
	top: -17px !important;
}

.projectsWrapper {
	@include mobileWrapper();
	margin-top: 100px;
}

.secHeader {
	padding: $secPadding;
	margin: auto;
		.headF {
			.bLine {
				width: 50px;
				background-color: $lightGrey;
				height: 5px;
			}
			.headD {
    		width: fit-content;
				h1 {
					text-align: left;
					margin-bottom: 10px;
					}
				h2 {
					margin-top: 12px;
				}
			}}
			.projectCopy {
				padding: 30px 0px;
			}}


/************************************************************************************
*************************************************************************************

										      	       EMPLOYEES PAGE

************************************************************************************
************************************************************************************/


.post-password-form {
	width: 90%;
	max-width: 400px;
	margin: auto;
	display: block;
	padding: 40vh 0vh 30vh 0vh;
	#pwbox-446 {
		background-color: white !important;
		margin: 5px 0px 30px 0px;
	}
	label {font-weight: bold;}
	button, html input[type="button"], input[type="reset"], input[type="submit"] {
		margin: auto;
		display: block;
		text-decoration: none;
			color: white !important;
			border: none !important;
			padding: 7px 10px !important;
			text-transform: uppercase !important;
			letter-spacing: 1px !important;
			font-weight: 800 !important;
			background-color: $red !important;
			&:hover {
				background-color: $darkRed !important;
				@include transition(.3s);
			}

		}
}





.empWrapper {
	@include mobileWrapper();
.fileDownloads {
	.dFile {
		width: 100%;
		margin-bottom: 50px;
		p {margin: 10px 0px 20px 0px;}
	}
}}
/************************************************************************************
*************************************************************************************

																				CAREERS PAGE

************************************************************************************
************************************************************************************/
.careerWrapper {
	@include mobileWrapper();
	.careerF {
		.careerD {
		width: 100%;
		margin-bottom: 50px;
		p {margin: 10px 0px 20px 0px;}
		.excerpt-read-more {
			text-decoration: none;
			color: $darkGrey;
			font-weight: bold;
		}
		}
		}	}

.redButton {
	text-decoration: none;
	p {
		width: fit-content;
		--max-size: 15 !important;
		color: white;
		padding: 7px 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 800;
		background-color: $red;
		text-decoration: none;
		&:hover {
			background-color: $darkRed;
			@include transition(.3s);
		}
	}
}

.redButton {
	text-decoration: none;

		width: fit-content;
		--max-size: 15 !important;
		color: white;
		padding: 7px 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 800;
		background-color: $red;
		&:hover {
			background-color: $darkRed;
			@include transition(.3s);
		}

}


/************************************************************************************
*************************************************************************************

			  							     CAPABILITIES PAGE

************************************************************************************
************************************************************************************/
.capWrapper {
@include mobileWrapper();
.accF {
	.accD1 {
		width: 100%;
	}
	.accD2 {
		width: 100%;
	}
}	}


				.acc2 {margin: 0; padding-top: 0 !important;}
				.cc1 {margin: 50px 0 0 0;}

				.accordion-panel {

				.accordion {
				    dt {
				      display: block;
				      padding: 20px;
				      cursor: pointer;
				      position: relative;
				      user-select: none;

				    }

				    dd {
				      height: 0;
				      overflow: hidden;
				      transition: height .35s ease-out;
				      margin-left: 0;

				    }

				    .content {
				      padding: 25px;
				      overflow: auto;
				    }
				  }

				  .plus-icon {
				    display: inline-block;
				    width: 15px;
				    height: 15px;
				    position: relative;
				    transition: transform 0.35s ease-out;
				    position: absolute;
				    right: 35px;
				    top: 50%;
				    margin-top: -12px;
				  }

				  .plus-icon:before,
				  .plus-icon:after {
				    content: '';
				    background: $lightGrey;
				    position: absolute;
				  }

				  .plus-icon:before {
				    width: 4px;
				    height: 15px;
				    margin-left: -0.5px;
				    left: 50%;
				  }

				  .plus-icon:after {
				    width: 15px;
				    height: 4px;
				    margin-top: -0.5px;
				    top: 50%;
				    opacity: 1;
				    transition: opacity 0.35s ease-out;
				  }

				  .is-open .plus-icon {
				    transform: rotate(90deg);
				  }

				  .is-open .plus-icon:after {
				    opacity: 0;
				  }

				  .hidden {
				    display: none;
				  }

				  .open-btn,
				  .close-btn {
				    cursor: pointer;
				    position: absolute;
				    right: 0;
				    width: 90px;
				  }

				  .buttons-wrapper {
				    position: relative;
				  }

				  .buttons-wrapper .plus-icon {
				    position: absolute;
				    right: 10px;
				    top: 12px;
				  }
				}


				.accordion-panel .accordion {
				  padding-top: 50px;
				}
				.accordion-panel .accordion dt {
				  display: block;
				  border: 2px solid $lightGrey;
				  color: black;
				  cursor: pointer;
				  position: relative;
				  user-select: none;
				}
				.accordion-panel .accordion dd {
				  height: 0;
				  overflow: hidden;
				  transition: height .35s ease-out;
				  margin-left: 0;
				  margin-bottom: 7px;

				}
				.accordion-panel .accordion .content {
				  padding: 25px;
				  overflow: auto;
				}
				.accordion-panel .plus-icon {
				  display: inline-block;
				  width: 15px;
				  height: 15px;
				  position: relative;
				  transition: transform 0.35s ease-out;
				  position: absolute;
				  right: 35px;
				  top: 50%;
				  margin-top: -12px;
				}
				.accordion-panel .plus-icon:before,
				.accordion-panel .plus-icon:after {
				  content: '';
				  background: black;
				  position: absolute;
				}
				.accordion-panel .plus-icon:before {
				  width: 4px;
				  height: 15px;
				  margin-left: -1.5px;
				  left: 50%;
				}
				.accordion-panel .plus-icon:after {
				  width: 15px;
				  height: 4px;
				  margin-top: -1.5px;
				  top: 50%;
				  opacity: 1;
				  transition: opacity 0.35s ease-out;
				}
				.accordion-panel .is-open .plus-icon {
				  transform: rotate(90deg);
				}
				.accordion-panel .is-open .plus-icon:after {
				  opacity: 0;
				}
				.accordion-panel .hidden {
				  display: none;
				}
				.accordion-panel .open-btn,
				.accordion-panel .close-btn {
				  cursor: pointer;
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 1px;
					margin-right: 30px;
					text-align: right;
				  position: absolute;
				  right: 0;
				  width: 120px;
				}
				.accordion-panel .buttons-wrapper {
				  position: relative;
				}
				.accordion-panel .buttons-wrapper .plus-icon {
				  position: absolute;
				  right: 10px;
				  top: 12px;
				}

/************************************************************************************
*************************************************************************************

											      JOB FORM POST

************************************************************************************
************************************************************************************/
.jobWrapper {
	@include mobileWrapper();
	.jobDesc {
		margin-bottom: 80px;
		div {
			h4 {margin-bottom: 10px;}
			#jMarg {margin-top: 30px;}
			#resp {margin-top: 30px;}
			ul {
				list-style-type: disc !important;
				margin-left: 20px;
			}
		}
	}

.jobForm {
	margin: auto;
	max-width: 400px;
	hr {
		border-top: 4px solid $lightGrey;
		background-color: none;
	}
.nf-field-element input, .nf-element {
	padding: 10px;
	background-color: white;
}
.applicationButton {
		text-decoration: none;
			color: white !important;
			border: none !important;
			padding: 7px 10px !important;
			text-transform: uppercase !important;
			letter-spacing: 1px !important;
			font-weight: 800 !important;
			background-color: $red !important;
			&:hover {
				background-color: $darkRed !important;
				@include transition(.3s);
			}

}
}}




/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/



.mainNav {
	background-color: $grey;
	width: 100%;
	height: 75px;
	position: fixed;
	z-index: 900;
	top: 0;
	box-shadow: -1px 4px 4px rgba(0,0,0,.2);
	@include transition(.3s);
	.headLogo {
		@include transition(.3s);
		width: 150px;
		position: absolute;
		top: -9px;
		left: -25px;

	}
}


.logoLine1{opacity:0; fill: white; @include transition(.3s);}
.logoLine2{opacity:0; fill: white; @include transition(.3s);}
.logoLine3{opacity:0; fill: white; @include transition(.3s);}
.beeler{fill: $red;}
.slog {fill: white;}


.svgIcon {
	fill: $red;
}
.svgIcon:hover {
	fill: white;
	@include transition(.5s);
}

.Menu {
    height: 100vh;
		width:100%;
    background: $grey;
    position: fixed;
    z-index:998;
    top:-100vh;
    opacity:0;
    .linkWrap {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding:0;
				.mainLinks, .empLinks {
					width: 90%;
					margin: auto;
            a {

                width:100%;
                max-width:1200px;
                overflow:hidden;
                position:relative;
								margin:0 auto;
                text-decoration:none;
								h4, .fa {
									color: $white;
									text-align: center;
									font-size: 15px;
									line-height: 30px;
                &:hover {
                   &:after {
                    right:0;
                   }
                   color: $red;
                }}
            }

    }
		.mainLinks {

		}
		.empLinks {
			background-color: $darkGrey;
			padding: 10px 0px;
			#socI {
				margin: auto;
				display: block;
				width: 60px;
				.fa {
					width: 30px;}
			}

	}}}

		.Menu--open {
			@include transition(.5s);
		    top: 0;
		    opacity:1;
		}


// FLASHY SLIPPY NAV STYLES
.mobile-nav-button {
    width:27px;
    position: fixed;
    margin: 22px 22px 0px 0px;
		right: 5px;
		top: 3px;
    z-index:9999;
    cursor:pointer;
    height:30px;
    .mobile-nav-button__line {
        width:100%;
        height:3px;
        background:$red;
        position:relative;
        transition:1s ease;
        &:nth-of-type(2) {
            margin:0.5rem 0;
        }

    }
    .mobile-nav-button__line--1 {
        transform: rotate(45deg);
        top: 7px;
        position: absolute;
    }
    .mobile-nav-button__line--2 {
        display: none;
    }
    .mobile-nav-button__line--3 {
        transform: rotate(135deg);
        top: 7px;
        position: absolute;
    }
}


/************************************************************************************
*************************************************************************************

							                       FOOTER

************************************************************************************
************************************************************************************/
.footerWrap {
	width: 100%;
	background-color: $grey;
.footer {
	@include mobileWrapper();
	padding: $secPadding;
	.footerF {
		padding-bottom: 20px;
		border-bottom: 2px solid $red;
		width: fit-content !important;
		margin: 0px auto 20px auto;
		display: block;
		.footerD {
			width: 100%;

			h5 {text-align: center;}
			a {
				text-decoration: none;
				p, i {
					--max-size: 15;
					--min-size: 13;
					color: white;
					line-height: 25px;
					.fa {width: 25px;}
					&:hover {
						color: $red;
						@include transition(.3s);
					}
				}}
			}
		}
	.copyright {
		width: 100%;
		p {
		color: white;
		text-align: center;}
	}
}}


/************************************************************************************
*************************************************************************************

							      	          CONTACT PAGE

************************************************************************************
************************************************************************************/

.contactWrapper {
	@include mobileWrapper();

}

.contactImgmobile {
	display: block;
	width: 100%;
	margin: -100px 0px -10px 0px;
	background-color: $offWhite;
}
.contactImgdesk {
	display:none;
}
.team-slide {
	.slick-prev {
		left: 30px;
		top: 30%;
		z-index: 30;
	}
	.slick-next {
		right: 30px;
		top: 30%;
	}
	.teamMember {
		pointer-events: none;
		width: 100%;

		.teamBio {
			display: none;
			text-align: center;
			a {
				text-decoration: none;
			p {
				opacity: 0px;
				i {
					font-size: .6em;
					margin: 0px 5px 0px 0px;}
			}}
			}
		}
		img {
			width: 100%;
			height: auto;
			border-bottom: 5px solid $lightGrey;
		}
	}

.greyBack {
	height: 145px;
	background-color: $lightGrey;
	margin-top: -145px;}

.team-slide {
.slick-current {
	img {
	border-bottom: 5px solid $red;
	}
.teamBio {
	background-color: $lightGrey;
	position: relative;
	z-index: 0;
	width: 100vw;
	height: 145px;
	padding: 40px 5vw;
	display: block !important;
	margin: 0vw 0vw 0vw -37.5vw;
	p {
    width: 100%;
		animation: fade 2s;
    position: relative;
		z-index: 999;
    top: 0px;
    left: 0px;
    text-align: center;
	}
}}}

@keyframes fade {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.contactInfo {
	width: 100%;
	background-color: $grey;
	padding: 50px 20px 0px 20px;
	.contactHeader {
		border-bottom: 2px solid $red;
		width: fit-content;
		margin:auto;
		display: block;
		margin-bottom: 30px;
		h3 {
			color: white;
			padding: 0px 10px 10px 10px;}
	}
	.contactF {
		width: 100%;
		.contactD {
			width: 100%;
		}
	}
}


/************************************************************************************
*************************************************************************************

							     HISTORY PAGE

************************************************************************************
************************************************************************************/

.paraF {
	.paraD {
		width: 100%;
	}
}
.historyWrapper {
	@include mobileWrapper();}


.historyFt {
	width: 100%;
	padding: 30px 0px;
}
.historyGallery {
	width: 100%;
	.slider {
		width: 80%;
		margin: 10%;
				img {
				width: 100%;
				max-width: 500px;
				margin: auto;
				height: auto;}
			}
		}

			.slick-prev:before,
			.slick-next:before {
			color: $red;
			}

.historyTimeline {
   width: 95%;
   padding: 50px 0;
   margin: auto;
   position: relative;
   overflow: hidden;
	 max-width: $maxWidth;
}

.tFlex {
	.tDiv {
		width: 100%;
		img {
		width: 100%;
		height: auto;}
	}
}
.historyTimeline:before {
	content: '';
	position: absolute;
	left: 8px;
	width: 2px;
	margin-left: -4px;
	height: 100%;
	background: $lightGrey;
	z-index: -10;
}

.timeline-block {
	 width: 100%;
	 margin-bottom: 30px;
}


.timeline-block-right {
	 float: none;
}

.timeline-block-left {
	 float: none;
	 direction: ltr;
}

.marker {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: $red;
   margin-top: 10px;
   z-index: 200;
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
}




/************************************************************************************
*************************************************************************************

							     MAP STYLES

************************************************************************************
************************************************************************************/

.mapButton {
	background-color: $red;
	color: white;
	position: absolute;
	bottom: 30px;
	left: 30px;
	z-index: 900;
	padding: 6px 10px;
	text-decoration: none;
	&:hover {
		background-color: $darkRed;
		@include transition(.3s);
	}
	p {
		font-weight: 800;
		text-align: center;
		color: $darkGrey;
		letter-spacing: 1px;
		--max-size: 15 !important;
	}
}
.mapHeight {
	position: relative;
	height: 229px;
}
.info div {
	width: 180px;
	padding-top: 10px;
}
.gm-style-mtc, .gm-style-mtc {
	display: none;
}
#map {
	width: 100%;
	margin-top: 12px;
	height: 229px !important;
	position: absolute;
	display: block;
}


/************************************************************************************
*************************************************************************************

					            		  PRELOADER

************************************************************************************
************************************************************************************/



#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
     background: $grey ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    z-index:999; /* makes sure it stays on top */
}

#status {
    width:50px;
    height:30px;
    position:fixed;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
   margin:-25px 0 0 -15px; /* is width and height divided by two */
}

.spinner {
  margin: 0px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $red;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*********************
    404
*********************/

.mWrap {
	#missing {
		display: block;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		margin: 0 auto;
		text-align: center;
		min-height: 600px;
		width: 80%;
		max-width: 404px;
		padding-top: 10%;
		h2 {
			text-align: center;
			margin: 0px auto;
			;
			font-size: 45px;
			width: 100%;
		}
		svg {
			width: 100px;
			margin: auto;
			.error {
				fill: $red;
			}
		}
	}
}
