/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* set grid gutter here. */
/* set common inner width here */
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/* line 19, ../scss/breakpoints/_481up.scss */
.subheadCopy {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 50px;
}

/************************************************************************************
*************************************************************************************

							      	          HISTORY PAGE

************************************************************************************
************************************************************************************/
/* line 38, ../scss/breakpoints/_481up.scss */
.tFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
}
/* line 40, ../scss/breakpoints/_481up.scss */
.tFlex .tDiv {
  width: 48%;
}
/* line 42, ../scss/breakpoints/_481up.scss */
.tFlex .tDiv img {
  width: 100%;
  height: auto;
}

/************************************************************************************
*************************************************************************************

							      	          CONTACT PAGE

************************************************************************************
************************************************************************************/
@media only screen and (min-width: 530px) {
  /* line 60, ../scss/breakpoints/_481up.scss */
  .team-slide .slick-current .teamBio {
    margin: 0vw 0vw 0vw -43.5vw;
  }
}
/************************************************************************************
*************************************************************************************

										      	       EMPLOYEES PAGE

************************************************************************************
************************************************************************************/
/* line 77, ../scss/breakpoints/_481up.scss */
.empWrapper .fileDownloads {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
}
/* line 79, ../scss/breakpoints/_481up.scss */
.empWrapper .fileDownloads .dFile {
  width: 48%;
}

/************************************************************************************
*************************************************************************************

							      	          PROJECTS PAGE

************************************************************************************
************************************************************************************/
/* line 95, ../scss/breakpoints/_481up.scss */
.projectsF {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 100%;
}
/* line 97, ../scss/breakpoints/_481up.scss */
.projectsF .single-item {
  width: 48%;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/************************************************************************************
*************************************************************************************

							      	HOME PAGE

************************************************************************************
************************************************************************************/
/* line 29, ../scss/breakpoints/_768up.scss */
.greyMiddle {
  width: 100%;
  background-color: #282828;
  height: 40px;
  margin-top: -125px;
}

/* line 39, ../scss/breakpoints/_768up.scss */
.hProjF .hProjD#flex1 {
  width: 48%;
}
/* line 40, ../scss/breakpoints/_768up.scss */
.hProjF .hProjD#flex2 {
  width: 31.5%;
}
/* line 41, ../scss/breakpoints/_768up.scss */
.hProjF .hProjD#projFlex {
  width: 48%;
}

/* line 47, ../scss/breakpoints/_768up.scss */
.homeWrapper .homeTeam .hTeamF .hTeamD#flex1 {
  width: 31.5%;
}
/* line 50, ../scss/breakpoints/_768up.scss */
.homeWrapper .homeTeam .hTeamF .hTeamD#flex2 {
  width: 66.5%;
}

		/************************************************************************************
		*************************************************************************************

																		PROJECTS PAGE

		************************************************************************************
		************************************************************************************/
/* line 62, ../scss/breakpoints/_768up.scss */
.projectsWrapper {
  margin-top: 60px !important;
}
/* line 64, ../scss/breakpoints/_768up.scss */
.projectsWrapper .secHeader {
  width: 100%;
  margin: 0;
}
/* line 67, ../scss/breakpoints/_768up.scss */
.projectsWrapper .secHeader .projectCopy {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 50px;
  padding: 50px 0px 50px 0px;
}

		/************************************************************************************
		*************************************************************************************

																		CONTACT PAGE

		************************************************************************************
		************************************************************************************/
/* line 89, ../scss/breakpoints/_768up.scss */
.contactInfo {
  padding: 50px 20px 0px 20px;
}
/* line 91, ../scss/breakpoints/_768up.scss */
.contactInfo .contactF {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
  width: 100%;
  margin: auto;
  max-width: 1000px;
}
/* line 96, ../scss/breakpoints/_768up.scss */
.contactInfo .contactF .contactD {
  width: 48%;
}

/* line 102, ../scss/breakpoints/_768up.scss */
.contactImgdesk {
  display: block;
  width: 100%;
  margin: -100px 0px -10px 0px;
  background-color: #eaeaea;
}

/* line 108, ../scss/breakpoints/_768up.scss */
.contactImgmobile {
  display: none;
}

		/************************************************************************************
		*************************************************************************************

												      	       EMPLOYEES PAGE

		************************************************************************************
		************************************************************************************/
/* line 121, ../scss/breakpoints/_768up.scss */
.empWrapper .fileDownloads .dFile {
  width: 30%;
}

		/************************************************************************************
		*************************************************************************************

																		CAREERS PAGE

		************************************************************************************
		************************************************************************************/
/* line 134, ../scss/breakpoints/_768up.scss */
.careerWrapper .careerF {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
}
/* line 136, ../scss/breakpoints/_768up.scss */
.careerWrapper .careerF .careerD {
  width: 47%;
}

/* line 142, ../scss/breakpoints/_768up.scss */
.jobWrapper .jobDesc {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 100%;
}
/* line 144, ../scss/breakpoints/_768up.scss */
.jobWrapper .jobDesc div {
  width: 48%;
}
/* line 146, ../scss/breakpoints/_768up.scss */
.jobWrapper .jobDesc div #resp {
  margin-top: 0px;
}

		/************************************************************************************
		*************************************************************************************

																		TIMELINE

		************************************************************************************
		************************************************************************************/
/* line 159, ../scss/breakpoints/_768up.scss */
.historyTimeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}

/* line 168, ../scss/breakpoints/_768up.scss */
.timeline-block {
  width: calc(50% + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  clear: both;
}

/* line 179, ../scss/breakpoints/_768up.scss */
.timeline-block:nth-child(even) {
  float: left;
  direction: rtl;
}

/* line 185, ../scss/breakpoints/_768up.scss */
.timeline-block:nth-child(odd) {
  float: right;
}

		/************************************************************************************
		*************************************************************************************

									      	          CAPABILITIES PAGE

		************************************************************************************
		************************************************************************************/
/* line 199, ../scss/breakpoints/_768up.scss */
.capWrapper .accF {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
}
/* line 201, ../scss/breakpoints/_768up.scss */
.capWrapper .accF .accD1 {
  width: 48%;
}
/* line 204, ../scss/breakpoints/_768up.scss */
.capWrapper .accF .accD2 {
  width: 48%;
  padding-top: 66px;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 11, ../scss/breakpoints/_1030up.scss */
.mainNav {
  height: 130px;
}
/* line 13, ../scss/breakpoints/_1030up.scss */
.mainNav .headLogo {
  width: 200px;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* line 23, ../scss/breakpoints/_1030up.scss */
.hProjF .hProjD#projFlex {
  width: 31.5%;
}

/* line 26, ../scss/breakpoints/_1030up.scss */
.logoLine1 {
  opacity: 1;
}

/* line 27, ../scss/breakpoints/_1030up.scss */
.logoLine2 {
  opacity: 0.5;
}

/* line 28, ../scss/breakpoints/_1030up.scss */
.logoLine3 {
  opacity: 0.2;
}

/* line 29, ../scss/breakpoints/_1030up.scss */
.Menu {
  height: 130px;
  width: 100%;
  position: fixed;
  background: none;
  z-index: 998;
  top: 0;
  right: 0;
  width: 600px;
  opacity: 1;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 41, ../scss/breakpoints/_1030up.scss */
.Menu .linkWrap .mainLinks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
  position: absolute;
  width: 100%;
  top: -2px;
}
/* line 46, ../scss/breakpoints/_1030up.scss */
.Menu .linkWrap .mainLinks div {
  padding: 5px 10px;
}
/* line 47, ../scss/breakpoints/_1030up.scss */
.Menu .linkWrap .mainLinks #navCont {
  border: 2px solid #cc2027;
}
/* line 49, ../scss/breakpoints/_1030up.scss */
.Menu .linkWrap .mainLinks #navCont:hover {
  background-color: #111111;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 55, ../scss/breakpoints/_1030up.scss */
.Menu .linkWrap .empLinks {
  position: absolute;
  height: 40px;
  top: -63px;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
}
/* line 62, ../scss/breakpoints/_1030up.scss */
.Menu .linkWrap .empLinks #socI {
  margin: -5px 0px 0px 0px;
}
/* line 63, ../scss/breakpoints/_1030up.scss */
.Menu .linkWrap .empLinks div {
  margin-top: -5px;
}

/* line 67, ../scss/breakpoints/_1030up.scss */
.nav-up {
  top: -41px;
}

/* line 68, ../scss/breakpoints/_1030up.scss */
.logo-up {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 180px !important;
  position: absolute !important;
  top: 30px !important;
  left: -25px !important;
}

/* line 77, ../scss/breakpoints/_1030up.scss */
.opacity-up {
  opacity: 0 !important;
}

/* line 78, ../scss/breakpoints/_1030up.scss */
.mobile-nav-button {
  display: none;
}

/* line 84, ../scss/breakpoints/_1030up.scss */
.homeWrapper .homeTeam .hTeamF .hTeamD#flex2 {
  margin: 30px 0px -32px 0px;
}

/************************************************************************************
*************************************************************************************

              REJECT WRAPPERS

************************************************************************************
************************************************************************************/
/* line 97, ../scss/breakpoints/_1030up.scss */
.capWrapper, .careerWrapper, .projectsWrapper, .historyWrapper, .contactWrapper, .empWrapper, .jobWrapper {
  width: 100%;
  padding: 140px 20px;
  max-width: 1400px;
  margin: auto;
}

/* line 100, ../scss/breakpoints/_1030up.scss */
.historyWrapper, .contactWrapper {
  padding: 140px 20px 20px 20px;
}

/************************************************************************************
*************************************************************************************

							      	          PROJECTS PAGE

************************************************************************************
************************************************************************************/
/* line 113, ../scss/breakpoints/_1030up.scss */
.projectMenu {
  top: 130px;
}

/* line 118, ../scss/breakpoints/_1030up.scss */
.projectMenu-up {
  top: 89px !important;
}

/* line 123, ../scss/breakpoints/_1030up.scss */
.secHeader .headF {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  height: auto;
}
/* line 127, ../scss/breakpoints/_1030up.scss */
.secHeader .headF .bLine {
  display: none;
}
/* line 128, ../scss/breakpoints/_1030up.scss */
.secHeader .headF .headD {
  width: fit-content;
}
/* line 130, ../scss/breakpoints/_1030up.scss */
.secHeader .headF .headD h1 {
  text-align: right;
  border-right: 2px solid #dddddd;
  padding-right: 30px;
}
/* line 134, ../scss/breakpoints/_1030up.scss */
.secHeader .headF .headD h2 {
  padding-left: 30px;
  margin-top: 12px;
}

/* line 140, ../scss/breakpoints/_1030up.scss */
.projectsF .projectsD {
  width: 31.5%;
}

/************************************************************************************
*************************************************************************************

							                       FOOTER

************************************************************************************
************************************************************************************/
/* line 152, ../scss/breakpoints/_1030up.scss */
.greyMiddle {
  width: 100%;
  background-color: #282828;
  height: 50px;
  margin-top: -140px;
}

/* line 162, ../scss/breakpoints/_1030up.scss */
.footerWrap .footer .footerF {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
/* line 165, ../scss/breakpoints/_1030up.scss */
.footerWrap .footer .footerF .footerD {
  width: 320px;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
