/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/



/* set grid gutter here. */
$gridGutter:        5px;
$gridPadding: 			10px;
$secPadding: 				40px 0px;
$skinnyPadding:			20px 0px;



/* set common inner width here */
$maxWidth:       		1400px;
$innerWidth:				750px;
$blogWidth:         950px;
$flexMin:           350px;

$bRad: 							6px;
$bRadleft: 					6px 0px 0px 6px;
$bRadright: 				0px 6px 6px 0px;
$hovTran:  					background-color 0.5s ease;



$red:			    			#cc2027;
$darkRed:           #a0181e;
$textColor:         #666666;
$darkGrey:          #111111;
$grey:							#282828;
$lightGrey:					#dddddd;
$offWhite:					#eaeaea;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        $bones-pink;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
